#flix {
    text-align: center;
    font-family: fantasy;
}

#Current_movies {
    font-family: fantasy;
}

.entireContainer {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#loadMore {
    text-align: center;
}